<% if @invoice.code == '200' %>
  <div class="">
    <p><%= display_bill_period %></p>
    <p>
      <%= t('layouts.invoices.total_bill_cost') %>
      <strong><%= total_to_currency %></strong>
    </p>
  </div>
  <hr />

  <div class="container-fluid">
    <div class="row">
      <% @invoice_json.each do |key, product|  %>
        <% next unless is_part_of_bill?(key) %>

        <div class="col-md-1 detailBox">
          <div class="productTitle">
            <p>
              <%= key.titleize %>
              <span class="right bold">
                <%= to_currency(product['total']) %>
              </span>

            </p>
          </div>
          <div class="productItemsBox">
            <ul>
              <%= render "item_details_#{ key.underscore }", product: product %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% else %>
  <%= t('layouts.invoices.something_went_wrong') %>
<% end %>
